{% extends '_layout.html' %}

{% block title %}Forum | Home{% endblock %}

{% block body %}
<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Create a title</label>
      <input type="Title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="input-group">
        <span class="input-group-text">Text</span>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}