{% extends '_layout.html' %}

{% block title %}Forum | Home{% endblock %}

{% block body %}
</div>
</header>
<div class="container">

    <div class="table-row">
        <div class="status" style="width: 200px"><i class="fa fa-fire"></i></div>
        <div class="subjects">
            <a href="">Post title</a>
            <br>
            <span>Posted by <b><a href="">User</a></b> .</span>
        </div>
    </div>

    <div class="table-row">
        <div class="status" style="width: 200px"><i class="fa fa-fire"></i></div>
        <div class="subjects">
            <a href="">Post title</a>
            <br>
            <span>Posted by <b><a href="">User</a></b> .</span>
        </div>

    </div>

{% endblock %}
