{% extends '_layout.html' %}

{% block title %}Forum | Home{% endblock %}

{% block navbar %}
{% if logged_in == True %}
<li class="nav-item">
    <a class="nav-link" href="/make_post">Create a Post</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/make_group">Create a Group</a>
  </li>
  <li class="nav-item">
    <form action="/logout" method="POST">
        <button type="submit" class="nav-link">Logout</button>
    </form>
  </li>
{% endif %}

{% if logged_in == False %}
<li class="nav-item">
    <a class="nav-link" href="/user_login">Login</a>
  </li>
{% endif %}

{% endblock %}

{% block body %}
<h1 class="mb-5">All Posts</h1>
<p class="mb-3">See our list of movie ratings below</p>
<table class="table">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Group_people_icon.jpg/800px-Group_people_icon.jpg"><span class="font-weight-bold">Group Name</span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Group Profile</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Members: </label><label class="labels"> placeholder </label></div>
                    </div>
                    <div class="row mt-3">
                        <label for="floatingTextarea2">About: </label><label class="labels"> placeholder </label>
                    </div>
                </div>
            </div>
        </div> 
      </div>
      </div>
      </div>
  <tbody>
    {% for group in groups %}
      <tr>
        <td><a href="/groups/{{ group_id }}">{{ group.title }}</a></td>
        <td>{{ post.description }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
