{% extends '_layout.html' %}

{% block title %}Forum | Home{% endblock %}

{% block body %}
<form action="/register" method="POST">
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

    <!-- Username input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="username">Enter a username</label>
        <input type="text" id="username" class="form-control" />
      </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="email">Enter an email address</label>
      <input type="text" id="email" name="email" class="form-control" placeholder='"abc123@gmail.com"' />
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="password">Enter a password</label>
      <input type="text" id="password" name="password" class="form-control" />
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
      </div>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
  
  </form>
{% endblock %}